body {
  margin: 4px;
  background: rgb(29,196,198);
  background: radial-gradient(circle, rgba(29,196,198,1) 54%, rgba(253,187,45,1) 100%);
}


.heading {
  text-align: center;
}

.lazy_panda{
  border-radius: 50%;
}

.red_panda {
  border-radius: 50%;
}

p {
  text-align: left;
}

sup {
  color: red;
}

label {
  color: black;
}

.form-heading{
  margin: 50px;
  text-shadow: 1px 1px white;
}

label {
  display: block;
}

.newsletter {
  text-align: center;
  background: rgb(29,196,198);
  /* background: linear-gradient(164deg, rgba(29,196,198,1) 54%, rgba(253,187,45,1) 100%); */
  width: 300px;
  height: 250px;
}

input {
  text-align: center;
}

button {
  margin: 15%;
  font-size: 20px;
  width: 100px;
  height: 30px;
}

button:hover {
  background-color: #F8FA90;
}


